FreightForwarder.Server/Service References/FFWCF/FFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRouteInformationItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RouteInformationItem" nillable="true" type="tns:RouteInformationItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRouteInformationItem" nillable="true" type="tns:ArrayOfRouteInformationItem" />
  <xs:complexType name="RouteInformationItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeleteDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DestinationPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSingleContainer" type="xs:int" />
      <xs:element minOccurs="0" name="Nonstop" type="xs:int" />
      <xs:element minOccurs="0" name="Price_20GP" type="xs:float" />
      <xs:element minOccurs="0" name="Price_40GP" type="xs:float" />
      <xs:element minOccurs="0" name="Price_40HQ" type="xs:float" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SailDayLength" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteInformationItem" nillable="true" type="tns:RouteInformationItem" />
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="RegisterCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MachineCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterCode" nillable="true" type="tns:RegisterCode" />
</xs:schema>