FreightForwarder.Server/Service References/FFWCF/FFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/FFService/FFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" />
  <xs:import schemaLocation="http://localhost/FFService/FFService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FrightForwarder.WCF" />
  <xs:element name="GetRoutItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startPort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationPort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSingleContainer" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" minOccurs="0" name="GetRoutItemsResult" nillable="true" type="q1:ArrayOfRouteInformationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRegistered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRegisteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" minOccurs="0" name="IsRegisteredResult" nillable="true" type="q2:RegisterCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMachineCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMachineCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateMachineCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FrightForwarder.WCF" minOccurs="0" name="composite" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FrightForwarder.WCF" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>