FreightForwarder.Client/Service References/FFWCF/FFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="FrightForwarder" elementFormDefault="qualified" targetNamespace="FrightForwarder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://minisoft.s4.jutuo.net/FFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" />
  <xs:import schemaLocation="http://minisoft.s4.jutuo.net/FFService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetRouteInformationItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteInformationItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" minOccurs="0" name="GetRouteInformationItemsResult" nillable="true" type="q1:ArrayOfRouteInformationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" minOccurs="0" name="GetAllCompanyListResult" nillable="true" type="q2:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllCompaniesResult" nillable="true" type="q3:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportRouteInformationItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" minOccurs="0" name="rlist" nillable="true" type="q4:ArrayOfRouteInformationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportRouteInformationItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportRouteInformationItemsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startPort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationPort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSingleContainer" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" minOccurs="0" name="GetRoutItemsResult" nillable="true" type="q5:ArrayOfRouteInformationItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociatMachineAndRegCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociatMachineAndRegCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssociatMachineAndRegCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMachineCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMachineCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMachineCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRegistered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRegisteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" minOccurs="0" name="IsRegisteredResult" nillable="true" type="q6:RegisterCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMachineCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMachineCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateMachineCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCompanyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>