FreightForwarder.Client/Service References/FFWCF/FFService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="FrightForwarder" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="FrightForwarder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="FrightForwarder/Imports">
      <xsd:import schemaLocation="http://ffminisoft.s5.jutuo.net/FFService.svc?xsd=xsd0" namespace="FrightForwarder" />
      <xsd:import schemaLocation="http://ffminisoft.s5.jutuo.net/FFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ffminisoft.s5.jutuo.net/FFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" />
      <xsd:import schemaLocation="http://ffminisoft.s5.jutuo.net/FFService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFFService_GetRouteInformationItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteInformationItems" />
  </wsdl:message>
  <wsdl:message name="IFFService_GetRouteInformationItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteInformationItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_GetAllCompanyList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanyList" />
  </wsdl:message>
  <wsdl:message name="IFFService_GetAllCompanyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanyListResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_GetAllCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanies" />
  </wsdl:message>
  <wsdl:message name="IFFService_GetAllCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_ImportRouteInformationItems_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportRouteInformationItems" />
  </wsdl:message>
  <wsdl:message name="IFFService_ImportRouteInformationItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportRouteInformationItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_GetRoutItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoutItems" />
  </wsdl:message>
  <wsdl:message name="IFFService_GetRoutItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoutItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_AssociatMachineAndRegCode_InputMessage">
    <wsdl:part name="parameters" element="tns:AssociatMachineAndRegCode" />
  </wsdl:message>
  <wsdl:message name="IFFService_AssociatMachineAndRegCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssociatMachineAndRegCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_AddMachineCode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMachineCode" />
  </wsdl:message>
  <wsdl:message name="IFFService_AddMachineCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMachineCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_IsRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRegistered" />
  </wsdl:message>
  <wsdl:message name="IFFService_IsRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_ValidateMachineCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMachineCode" />
  </wsdl:message>
  <wsdl:message name="IFFService_ValidateMachineCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMachineCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_AddCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCompany" />
  </wsdl:message>
  <wsdl:message name="IFFService_AddCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCompanyResponse" />
  </wsdl:message>
  <wsdl:portType name="IFFService">
    <wsdl:operation name="GetRouteInformationItems">
      <wsdl:input wsaw:Action="FrightForwarder/IFFService/GetRouteInformationItems" message="tns:IFFService_GetRouteInformationItems_InputMessage" />
      <wsdl:output wsaw:Action="FrightForwarder/IFFService/GetRouteInformationItemsResponse" message="tns:IFFService_GetRouteInformationItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanyList">
      <wsdl:input wsaw:Action="FrightForwarder/IFFService/GetAllCompanyList" message="tns:IFFService_GetAllCompanyList_InputMessage" />
      <wsdl:output wsaw:Action="FrightForwarder/IFFService/GetAllCompanyListResponse" message="tns:IFFService_GetAllCompanyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <wsdl:input wsaw:Action="FrightForwarder/IFFService/GetAllCompanies" message="tns:IFFService_GetAllCompanies_InputMessage" />
      <wsdl:output wsaw:Action="FrightForwarder/IFFService/GetAllCompaniesResponse" message="tns:IFFService_GetAllCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportRouteInformationItems">
      <wsdl:input wsaw:Action="FrightForwarder/IFFService/ImportRouteInformationItems" message="tns:IFFService_ImportRouteInformationItems_InputMessage" />
      <wsdl:output wsaw:Action="FrightForwarder/IFFService/ImportRouteInformationItemsResponse" message="tns:IFFService_ImportRouteInformationItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoutItems">
      <wsdl:input wsaw:Action="FrightForwarder/IFFService/GetRoutItems" message="tns:IFFService_GetRoutItems_InputMessage" />
      <wsdl:output wsaw:Action="FrightForwarder/IFFService/GetRoutItemsResponse" message="tns:IFFService_GetRoutItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssociatMachineAndRegCode">
      <wsdl:input wsaw:Action="FrightForwarder/IFFService/AssociatMachineAndRegCode" message="tns:IFFService_AssociatMachineAndRegCode_InputMessage" />
      <wsdl:output wsaw:Action="FrightForwarder/IFFService/AssociatMachineAndRegCodeResponse" message="tns:IFFService_AssociatMachineAndRegCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMachineCode">
      <wsdl:input wsaw:Action="FrightForwarder/IFFService/AddMachineCode" message="tns:IFFService_AddMachineCode_InputMessage" />
      <wsdl:output wsaw:Action="FrightForwarder/IFFService/AddMachineCodeResponse" message="tns:IFFService_AddMachineCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRegistered">
      <wsdl:input wsaw:Action="FrightForwarder/IFFService/IsRegistered" message="tns:IFFService_IsRegistered_InputMessage" />
      <wsdl:output wsaw:Action="FrightForwarder/IFFService/IsRegisteredResponse" message="tns:IFFService_IsRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateMachineCode">
      <wsdl:input wsaw:Action="FrightForwarder/IFFService/ValidateMachineCode" message="tns:IFFService_ValidateMachineCode_InputMessage" />
      <wsdl:output wsaw:Action="FrightForwarder/IFFService/ValidateMachineCodeResponse" message="tns:IFFService_ValidateMachineCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <wsdl:input wsaw:Action="FrightForwarder/IFFService/AddCompany" message="tns:IFFService_AddCompany_InputMessage" />
      <wsdl:output wsaw:Action="FrightForwarder/IFFService/AddCompanyResponse" message="tns:IFFService_AddCompany_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>