FreightForwarder.Client/Service References/FFWCF/FFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/FFService/FFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/FFService/FFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/FFService/FFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" />
      <xsd:import schemaLocation="http://localhost/FFService/FFService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FrightForwarder.WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFFService_GetRoutItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoutItems" />
  </wsdl:message>
  <wsdl:message name="IFFService_GetRoutItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoutItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_AssociatMachineAndRegCode_InputMessage">
    <wsdl:part name="parameters" element="tns:AssociatMachineAndRegCode" />
  </wsdl:message>
  <wsdl:message name="IFFService_AssociatMachineAndRegCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssociatMachineAndRegCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_AddMachineCode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMachineCode" />
  </wsdl:message>
  <wsdl:message name="IFFService_AddMachineCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMachineCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_IsRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRegistered" />
  </wsdl:message>
  <wsdl:message name="IFFService_IsRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_ValidateMachineCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMachineCode" />
  </wsdl:message>
  <wsdl:message name="IFFService_ValidateMachineCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMachineCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_AddCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCompany" />
  </wsdl:message>
  <wsdl:message name="IFFService_AddCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IFFService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IFFService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IFFService">
    <wsdl:operation name="GetRoutItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IFFService/GetRoutItems" message="tns:IFFService_GetRoutItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFFService/GetRoutItemsResponse" message="tns:IFFService_GetRoutItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssociatMachineAndRegCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IFFService/AssociatMachineAndRegCode" message="tns:IFFService_AssociatMachineAndRegCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFFService/AssociatMachineAndRegCodeResponse" message="tns:IFFService_AssociatMachineAndRegCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMachineCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IFFService/AddMachineCode" message="tns:IFFService_AddMachineCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFFService/AddMachineCodeResponse" message="tns:IFFService_AddMachineCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IFFService/IsRegistered" message="tns:IFFService_IsRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFFService/IsRegisteredResponse" message="tns:IFFService_IsRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateMachineCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IFFService/ValidateMachineCode" message="tns:IFFService_ValidateMachineCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFFService/ValidateMachineCodeResponse" message="tns:IFFService_ValidateMachineCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IFFService/AddCompany" message="tns:IFFService_AddCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFFService/AddCompanyResponse" message="tns:IFFService_AddCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IFFService/GetDataUsingDataContract" message="tns:IFFService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFFService/GetDataUsingDataContractResponse" message="tns:IFFService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFFService" type="tns:IFFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoutItems">
      <soap:operation soapAction="http://tempuri.org/IFFService/GetRoutItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociatMachineAndRegCode">
      <soap:operation soapAction="http://tempuri.org/IFFService/AssociatMachineAndRegCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMachineCode">
      <soap:operation soapAction="http://tempuri.org/IFFService/AddMachineCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRegistered">
      <soap:operation soapAction="http://tempuri.org/IFFService/IsRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateMachineCode">
      <soap:operation soapAction="http://tempuri.org/IFFService/ValidateMachineCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCompany">
      <soap:operation soapAction="http://tempuri.org/IFFService/AddCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IFFService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FFService">
    <wsdl:port name="BasicHttpBinding_IFFService" binding="tns:BasicHttpBinding_IFFService">
      <soap:address location="http://localhost/FFService/FFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>