FreightForwarder.Upgrade/Service References/FFUpgrade.Service/UpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/FFUpgrade.Service/UpdateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/FFUpgrade.Service/UpdateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/FFUpgrade.Service/UpdateService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/FFUpgrade.Service/UpdateService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdateService_CheckUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUpdate" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_CheckUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdate" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpdateService">
    <wsdl:operation name="CheckUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/CheckUpdate" message="tns:IUpdateService_CheckUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/CheckUpdateResponse" message="tns:IUpdateService_CheckUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetUpdate" message="tns:IUpdateService_GetUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetUpdateResponse" message="tns:IUpdateService_GetUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpdateService" type="tns:IUpdateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUpdate">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/CheckUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateService">
    <wsdl:port name="BasicHttpBinding_IUpdateService" binding="tns:BasicHttpBinding_IUpdateService">
      <soap:address location="http://localhost/FFUpgrade.Service/UpdateService.svc/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>