FreightForwarder.Upgrade/Service References/FFUpgrade.Service/UpdateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FreightForwarder.Domain.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UpgradePackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileBytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpgradePackage" nillable="true" type="tns:UpgradePackage" />
</xs:schema>